@import '../../styles/variables.scss';

.checkout {
  width: 55%;
  align-items: center;
  flex-direction: column;
  margin: 3.125rem auto 0;
  display: flex;
}

.header {
  width: 100%;
  padding: 0.625rem 0;
  justify-content: space-between;
  border-bottom: $border solid $secondary-color;
  display: flex;

  .header-block {
    width: 23%;
    text-transform: capitalize;

    &:last-child {
      width: 8%;
    }
  }
}

.total {
  margin-top: 1.875rem;
  margin-left: auto;
  font-size: 2.25rem;
}
