@import '../../styles/variables.scss';
@import '../../styles/elements.scss';

.button {
  display: flex;
  padding: 0 2rem;
  min-width: 10.3125rem;
  letter-spacing: 0.0625rem;
  transition: all $hover linear, padding 0s;
  border: $border solid transparent;
  background-color: $color-black;
  text-transform: uppercase;
  font-weight: $bold-weight;
  justify-content: center;
  align-items: center;
  color: $color-white;
  cursor: pointer;
  display: flex;
  height: 3rem;

  &:hover {
    background-color: $color-white;
    border-color: $color-black;
    color: $color-black;
  }
}

.google {
  background-color: $color-blue;

  &:hover {
    background-color: transparent;
    border-color: $color-blue;
    color: $color-blue;
  }
}

.reversed {
  background-color: $color-white;
  border-color: $color-black;
  color: $color-black;

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}

.spinner {
  @extend %spinner;
  height: 1.875rem;
  width: 1.875rem;
}
