// global
$base-transition-duration: 0.35s;

$hover: 0.15s;
$border: 0.0625rem;

// colors
$primary-color: #4a4a4a;
$secondary-color: #9a9a9a;

$color-white: #fff;
$color-black: #000;
$color-blue: #4285f4;

// fonts
$light-weight: 300;
$regular-weight: 400;
$bold-weight: 700;

$font-family: 'Source Sans Pro', sans-serif;
