@import '../../styles/variables.scss';

.spinner {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  animation: spin 1s ease-in-out infinite;
  border: 0.1875rem solid rgba(154, 154, 154, 0.5);
  border-top-color: $secondary-color;
  display: inline-block;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
}
