@import '../../styles/variables';

.card {
  display: grid;
  position: relative;
  grid-template-rows: 90% 10%;
  height: 20rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity $base-transition-duration linear;
  }

  button {
    opacity: 0.7;
    position: absolute;
    height: fit-content;
    width: fit-content;
    margin: auto;
    display: none;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.9;
      display: flex;
    }
  }
}

.info {
  font-size: 1.125rem;
  justify-content: space-between;
  align-items: flex-end;
  display: flex;
}
