.preview {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 1.75rem;
  margin-bottom: 1.5625rem;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }
}

.container {
  display: grid;
  column-gap: 1.25rem;
  grid-template-columns: repeat(5, 1fr);
}
