@import '../../styles/variables.scss';

.categories {
  display: grid;
  row-gap: 3rem;
  max-width: $container-width;
  margin: 0 auto;

  @media screen and (max-width: 798px) {
    max-width: $container-width-mobile;
    margin-bottom: 1rem;
  }
}
