@import '../../../styles/variables';

.dropdown {
  width: 15rem;
  top: 3.125rem;
  right: -1.875rem;
  height: 21.25rem;
  padding: 1.25rem;
  position: absolute;
  flex-direction: column;
  border: $border solid $color-black;
  background-color: $color-white;
  display: flex;
  z-index: 1;

  span {
    font-size: 1.125rem;
    margin: 3.125rem auto;
  }

  button {
    margin-top: auto;
  }
}

.container {
  height: 15rem;
  overflow: scroll;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none; // Firefox
  }
}
