@import '../../../styles/variables';

.dropdown {
  width: 15rem;
  top: 3.125rem;
  right: -1.875rem;
  height: 21.25rem;
  padding: 1.25rem;
  position: absolute;
  flex-direction: column;
  border: $border solid $color-black;
  background-color: $color-white;
  display: flex;
  z-index: 1;

  button {
    margin-top: auto;
  }
}

.container {
  display: grid;
  overflow: scroll;
  scrollbar-width: none;
  row-gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.empty {
  font-size: 1.125rem;
  margin: 3.125rem auto;
}
